@import url("https://use.typekit.net/qmn8uyu.css");

$red: #BF3F3F;
$blue: #314A59;
$yellow: #D9A23D;
$white: #fff;
$black: #000;

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;

  font-family: puffin-arcade-liquid,sans-serif;
  font-weight: 800;
  font-style: normal;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fa-regular {
  font-size: 60px;
  margin: 0 30px;
  cursor: pointer;
  User-select: none;
}

h2 {
  margin-left: 30px;
  margin-bottom: 20px;
}

.game-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid $blue;
  background-image: linear-gradient(to right bottom, rgba(191, 63, 63, 0.3), rgba(173, 59, 99, 0.3), rgba(140, 68, 122, 0.3), rgba(99, 77, 128, 0.3), rgba(64, 79, 117, 0.3), rgba(39, 89, 122, 0.3), rgba(10, 98, 120, 0.3), rgba(13, 105, 111, 0.3), rgba(28, 127, 106, 0.3), rgba(83, 146, 86, 0.3), rgba(146, 159, 63, 0.3), rgba(217, 162, 61, 0.3));
  .header {
    background: $blue;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 3rem;
    h1 {
      font-size: 40px;
      color: $yellow;
      letter-spacing: 2px;;
    }
  }
  .footer {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    padding: 2rem 1rem;
    background-color: $blue;
    box-sizing: border-box;
    .fa-solid {
      font-size: 34px;
      color: $yellow;
      cursor: pointer;
      text-align: left;
    }    
    .result-container {
      .result-text {
        font-size: 40px;
        color: $yellow;
        margin: unset;
      }
    }
  }
}



.player-container {
  margin: 50px;
  .fa-regular {
    color: $red;
    &:hover {
      color: $yellow;
    }
  }
}




.computer-container {
  margin: 50px;
  .fa-regular {
    color: $blue;
    &:hover {
      color: $yellow;
    }
  }
}


/* Media Query: Large Smartphone (Vertical) */
@media screen and (max-width: 600px) {
  .game-container {

    height: 580px;
  }

  h1 {
    font-size: 24px;
  }

  .player-container {
    margin: 50px 0 25px 25px;
  }

  .far {
    margin-right: 20px;
  }

  .reset-icon {
    margin-top: 25px;
    margin-left: 25px;
  }
}

/* Media Query: iPhone (Vertical) */
@media screen and (max-width: 376px) {
  .game-container {
    height: 550px;
  }

  h1 {
    font-size: 22px;
  }

  .player-container {
    margin: 43px 0 25px 20px;
  }

  .far {
    font-size: 43px;
  }

  .reset-icon {
    margin-top: 15px;
  }

  .result-container {
    margin: 0 20px;
  }
}
