@import url("https://use.typekit.net/qmn8uyu.css");
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  font-family: puffin-arcade-liquid,sans-serif;
  font-weight: 800;
  font-style: normal;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fa-regular {
  font-size: 60px;
  margin: 0 30px;
  cursor: pointer;
  User-select: none;
}

h2 {
  margin-left: 30px;
  margin-bottom: 20px;
}

.game-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 2px solid #314A59;
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(191, 63, 63, 0.3)), color-stop(rgba(173, 59, 99, 0.3)), color-stop(rgba(140, 68, 122, 0.3)), color-stop(rgba(99, 77, 128, 0.3)), color-stop(rgba(64, 79, 117, 0.3)), color-stop(rgba(39, 89, 122, 0.3)), color-stop(rgba(10, 98, 120, 0.3)), color-stop(rgba(13, 105, 111, 0.3)), color-stop(rgba(28, 127, 106, 0.3)), color-stop(rgba(83, 146, 86, 0.3)), color-stop(rgba(146, 159, 63, 0.3)), to(rgba(217, 162, 61, 0.3)));
  background-image: linear-gradient(to right bottom, rgba(191, 63, 63, 0.3), rgba(173, 59, 99, 0.3), rgba(140, 68, 122, 0.3), rgba(99, 77, 128, 0.3), rgba(64, 79, 117, 0.3), rgba(39, 89, 122, 0.3), rgba(10, 98, 120, 0.3), rgba(13, 105, 111, 0.3), rgba(28, 127, 106, 0.3), rgba(83, 146, 86, 0.3), rgba(146, 159, 63, 0.3), rgba(217, 162, 61, 0.3));
}

.game-container .header {
  background: #314A59;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem 3rem;
}

.game-container .header h1 {
  font-size: 40px;
  color: #D9A23D;
  letter-spacing: 2px;
}

.game-container .footer {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  padding: 2rem 1rem;
  background-color: #314A59;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.game-container .footer .fa-solid {
  font-size: 34px;
  color: #D9A23D;
  cursor: pointer;
  text-align: left;
}

.game-container .footer .result-container .result-text {
  font-size: 40px;
  color: #D9A23D;
  margin: unset;
}

.player-container {
  margin: 50px;
}

.player-container .fa-regular {
  color: #BF3F3F;
}

.player-container .fa-regular:hover {
  color: #D9A23D;
}

.computer-container {
  margin: 50px;
}

.computer-container .fa-regular {
  color: #314A59;
}

.computer-container .fa-regular:hover {
  color: #D9A23D;
}

/* Media Query: Large Smartphone (Vertical) */
@media screen and (max-width: 600px) {
  .game-container {
    height: 580px;
  }
  h1 {
    font-size: 24px;
  }
  .player-container {
    margin: 50px 0 25px 25px;
  }
  .far {
    margin-right: 20px;
  }
  .reset-icon {
    margin-top: 25px;
    margin-left: 25px;
  }
}

/* Media Query: iPhone (Vertical) */
@media screen and (max-width: 376px) {
  .game-container {
    height: 550px;
  }
  h1 {
    font-size: 22px;
  }
  .player-container {
    margin: 43px 0 25px 20px;
  }
  .far {
    font-size: 43px;
  }
  .reset-icon {
    margin-top: 15px;
  }
  .result-container {
    margin: 0 20px;
  }
}
/*# sourceMappingURL=style.css.map */